{
  "presets": [
    ["es2015", {"modules": false}]
  ],
  "plugins": [
    "transform-class-properties",
  ],
  "env": {
    "development": {
      "plugins": [
        "external-helpers"
      ]
    },
    "production": {
      "plugins": [
        "external-helpers"
      ]
    },
    "test": {
      "presets": ["power-assert"]
    }
  }
}
