html, body {
  height: 100%;
}

body {
  font-family: "游ゴシック", YuGothic, "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", "メイリオ", "Meiryo", sans-serif;
}


.header {
  padding: 5px 10px;
  background-color: #000;
  color: #fff;
}

.basic-form {
  
}

.form-label {
  display: inline-block;
  width: 200px;
}

.errors li {
  color: #f93333;
}

.fade-enter-active, .fade-leave-active {
  transition: opacity 200ms;
}
.fade-enter, .fade-leave-active {
  opacity: 0;
}
